/* Header  */
.navbar .navbar-nav .nav-item {
    position: relative;
}


.navbar .navbar-nav .nav-item::before {
    position: absolute;
    left: 0;
    bottom: -18px;
    content: " ";
    background-color: rgb(124 58 237);
    width: 100%;
    height: 2px;
}


html.dark .navbar .navbar-nav .nav-item::before {
    display: none;
}